@import "main";

body {
    font-family: 'Acumin Pro';
    background: transparent;
}
.forceAcumin {
    font-family: 'Acumin Pro' !important;
}
div#ImageContainer {
    font-family: 'Acumin Pro' !important;
    padding: $global-padding;
    @include padding-safe-area($global-padding);

    @include respond-to(mobile) {
        padding: $global-padding-m;
        @include padding-safe-area($global-padding-m);
    }

    min-height: 100vh;
    background: white;
    box-sizing: border-box;
    & > h1{
        margin-top: 0px;
    }
    & div#Image {
        width: 100%;
        height: 75vh;
        min-height: 500px;
        border: solid 10px #333;

        &>img {
            width: 100%;
            height: 100%;
        }
    }

    & div#Options {
        margin: 40px 0px 20px;

        @include setflex(row, wrap, flex-start, flex-start, flex-start);

        &>div {
            margin-left: 20px;
            &:first-child{
                margin-left: 0px;
            }
            &>span:first-child {
                display: block;
                margin-bottom: 10px;
            }
            & .select{
                min-width: 100px;;
            }
            & .colorinput{
                margin: 0px !important;
                &.disable{
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
        }
    }
}
