body {
    background: #202020;
    &.loading{
        pointer-events: none;
    }
    &:not(.onhover).hasgyro {
        background: #2D2D2D;
    }
}
* {
    box-sizing: border-box;
}

$p_mobile: 25px;
$p_tablet: 35px;
$p_desktop: 50px;
#Container {
    min-height: 100vh;
    padding: $p_desktop;
    @include padding-safe-area($p_desktop);
    @include padding-safe-bottom($p_desktop);
    @include respond-to(tablet){
        padding: $p_tablet;
        @include padding-safe-area($p_tablet);
        @include padding-safe-bottom($p_tablet);
    }
    @include respond-to(mobile){
        padding: $p_mobile;
        @include padding-safe-area($p_mobile);
        @include padding-safe-bottom($p_mobile);
    }
    & > #Background{
        z-index: -1;
        $dimension: 200vmax;
        position: fixed;
        width: $dimension;
        height: $dimension;
        top: 50%;
        left: 50%;
        margin-left: -$dimension / 2;
        margin-top: -$dimension / 2;
        transform-origin: center center;
        background: rgb(10, 10, 10);
        background-image: radial-gradient( #000 0%, #202020 50%);
        body:not(.onhover):not(.hasgyro) & {
            background-image: linear-gradient(180deg, #000 10%, #101010 100%);
        }
        body:not(.onhover).hasgyro & {
            background-image: radial-gradient( #000 10%, #2D2D2D 60%);
        }
        @include transition(opacity .5s, transform .05s);
        body.loading & {
            opacity: 0;
        }
    }
    .label{
        font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
        color: white;
        font-size: 14px;
        position: fixed;
        top: $p_desktop;
        left: $p_desktop;
        @include left-safe($p_desktop);
        @include respond-to(tablet){
            top: $p_tablet;
            left: $p_tablet;
            @include left-safe($p_tablet);
            font-size: 12px;
        }
        @include respond-to(mobile){
            top: $p_mobile;
            left: $p_mobile;
            @include left-safe($p_mobile);
        }
        @include transition(opacity 1.25s .25s);
        body.loading & {
            opacity: 0;
        }
    }
    .content{
        font-family: 'AktivGrotesk', Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: #222;
        font-size: 60px;
        padding: 0px;
        padding-top: 75px;
        @include respond-to(tablet){
            font-size: 50px;
            padding-top: 50px;
        }
        @include respond-to(mobile){
            font-size: 40px;
            padding-top: 40px;
        }
        @include transition(color .25s, opacity 1.25s .5s);
        body:not(.onhover) & {
            color: #333;
        }
        body.loading & {
            opacity: 0;
        }
        & > p{
            width: 100%;
            cursor: default;

            &:first-child{
                margin-top: 0px;
            }
            &:last-child{
                margin-bottom: 0px;
            }
            & > a {
                cursor: pointer;
                max-width: 100%;
                // text-decoration: none;
                color: #222;
                @include transition(color .25s);
                white-space: pre-wrap;
                word-wrap: break-word;
                body.onhover & {
                    text-decoration: none;
                }
                body.onhover &:hover {
                    color: #FFF;
                }
                body:not(.onhover) & {
                    color: #333;
                }
            }
        }
    }
}
