body {
  background: #202020;
  &.loading {
    pointer-events: none;
  }
  &:not(.onhover) {
    background: #2d2d2d;
  }
}
* {
  box-sizing: border-box;
}

$p_mobile: 25px;
$p_tablet: 35px;
$p_desktop: 50px;
#Container {
  min-height: 100vh;
  padding: $p_desktop;
  @include padding-safe-area($p_desktop);
  @include padding-safe-bottom($p_desktop);
  @include respond-to(tablet) {
    padding: $p_tablet;
    @include padding-safe-area($p_tablet);
    @include padding-safe-bottom($p_tablet);
  }
  @include respond-to(mobile) {
    padding: $p_mobile;
    @include padding-safe-area($p_mobile);
    @include padding-safe-bottom($p_mobile);
  }
  & > #Background {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    $dimension: 200vmax;
    width: $dimension;
    height: $dimension;
    margin-left: -$dimension / 2;
    margin-top: -$dimension / 2;
    transform-origin: center center;
    // background: #202020;
    background-image: radial-gradient( rgba(0,0,0,1) 10%, rgba(0,0,0,0) 70%);
    @include transform(translate(0%, 0%) scale(1, 1));
    body:not(.onhover) & {
      @include transform(translate(0%, 0%) scale(1, 1));
      width: 100vw;
      height: 200vh;
      top: auto;
      bottom: 0%;
      left: 0%;
      margin: 0px;
      background: #2d2d2d;
      background-image: linear-gradient(200deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 75%);
    }
    body:not(.onhover).hasgyro & {
      // background-image: radial-gradient(#000 05%, #2d2d2d 40%);
      $dimension: 200vmax;
      width: $dimension;
      height: $dimension;
      margin-left: -$dimension / 2;
      margin-top: -$dimension / 2;
      background: red;
      background-image: radial-gradient(red 10%, blue 80%);
    }

    @include transition(opacity 0.5s, transform 0.1s);

    body.loading & {
      opacity: 0;
    }
  }
  .label {
    font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    position: fixed;
    top: $p_desktop;
    left: $p_desktop;
    @include left-safe($p_desktop);
    @include respond-to(tablet) {
      top: $p_tablet;
      left: $p_tablet;
      @include left-safe($p_tablet);
      font-size: 12px;
    }
    @include respond-to(mobile) {
      top: $p_mobile;
      left: $p_mobile;
      @include left-safe($p_mobile);
    }
    @include transition(opacity 1.25s 0.25s);
    body.loading & {
      opacity: 0;
    }
  }
  .content {
    font-family: 'AktivGrotesk', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #222;
    font-size: 60px;
    padding: 0px;
    padding-top: 75px;
    @include respond-to(tablet) {
      font-size: 50px;
      padding-top: 50px;
    }
    @include respond-to(mobile) {
      font-size: 40px;
      padding-top: 40px;
    }
    @include transition(color 0.25s, opacity 1.25s 0.5s);
    body:not(.onhover) & {
      color: #2d2d2d;
    }
    body.loading & {
      opacity: 0;
    }
    & > p {
      width: 100%;
      cursor: default;

      &:first-child {
        margin-top: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      & a {
        cursor: pointer;
        max-width: 100%;
        // text-decoration: none;
        color: #222;
        @include transition(color 0.25s);
        white-space: pre-wrap;
        word-wrap: break-word;
        body.onhover & {
          text-decoration: none;
        }
        body.onhover &:hover {
          color: #fff;
        }
        body:not(.onhover) & {
          color: #2d2d2d;
        }
      }
    }
  }
}
